<app-dashboard></app-dashboard>

<app-topo-breadcrumb [items]="items"></app-topo-breadcrumb>
<div class="grid mt-6">
  <!-- <div class="col-6 flex justify-content-start">
    <div>
      <h2 class="color-padrao">Categorias</h2>
    </div>
  </div> -->
  <div class="col-12 mt-2 flex justify-content-end">
    <div class="col-2">
      <p-floatLabel>
        <input
          pInputText
          id="descricaoSetores"
          [(ngModel)]="filtroCodIgrejaCasaOracoes"
          (keydown.enter)="pesquisarFiltro()"
        />
        <label class="label-principal" for="descricaoSetores"
          >Cód. Igreja</label
        >
      </p-floatLabel>
    </div>
    <div class="col-2">
      <p-floatLabel>
        <input
          pInputText
          id="descricaoSetores"
          [(ngModel)]="filtroDescricaoCasaOracoes"
          (keydown.enter)="pesquisarFiltro()"
        />
        <label class="label-principal" for="descricaoSetores">Nome da Igreja</label>
      </p-floatLabel>
    </div>

    <p-button
      [rounded]="true"
      [text]="true"
      icon="pi pi-plus"
      (onClick)="cadastraCasaOracao()"
    />
    <p-button
      [rounded]="true"
      [text]="true"
      icon="pi pi-search"
      (onClick)="pesquisarFiltro()"
    />
  </div>
  <div class="col-12 mt-1">
    <app-tabela
      [size]="size"
      [page]="page"
      [totalRegistros]="totalRegistros"
      [carregaTabela]="carregaTabela"
      [dadosGrid]="dadosGrid"
      [dataKey]="dataKey"
      [colunas]="colunas"
      (emissorPaginacao)="recebePaginacao($event)"
      (emissorEditar)="editaTabela($event)"
      (emissorRemover)="removeItemTabela($event)"
    ></app-tabela>
  </div>
</div>
<p-confirmDialog key="dialog-casaOracao" />
<p-toast key="toast-casaOracao" position="top-center"></p-toast>
