<app-topo-paginas [sidebarVisible]="sidebarVisible" (emiteAbrirMenu)="abrirMenu($event)" [isMenuDashBoard]="isMenuDashBoard"></app-topo-paginas>
<app-menu [menu]="menu" (emiteRota)="redirecionaRota($event)" (emiteSairMenu)="sairMenu($event)" [sidebarVisible]="sidebarVisible" ></app-menu>


<!-- 

<div class="backgroundColor scrollPagina">
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-4 gap-6">
            <div class="card card--default">
                <p class="text-sm">Saídas</p>
                <p class="text-2xl font-semibold text-gray-700">$682.5</p>
                <div class="col-3">

                </div>
            </div>

            <div class="card card--highlight">
                <p class="text-sm">Entradas</p>
                <p class="text-2xl font-semibold">$540.50</p>
            </div>
            
            <div class="card card--default">
                <p class="text-sm">Devedor</p>
                <p class="text-2xl font-semibold text-gray-700">$350.40</p>
            </div>
            <div class="card card--highlight">
                <p class="text-sm">Gestão</p>
                <p class="text-2xl font-semibold">$540.50</p>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-4 mt-6">
            <div class="card card--default">
                <h3 class="text-lg font-semibold">Distribuição de Transferências</h3>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-6 mt-6">
            <div class="transfer-card">
                <h3 class="text-lg font-semibold">Transferências Recentes</h3>
                <div class="mt-4">
                    <p class="text-sm"><span class="font-semibold">Alex Manda</span> <span class="text-green-500">+ $50</span></p>
                    <p class="text-sm"><span class="font-semibold">Laura Santos</span> <span class="text-red-500">- $34</span></p>
                    <p class="text-sm"><span class="font-semibold">Jadon S.</span> <span class="text-green-500">+ $157</span></p>
                </div>
                <a href="#">Ver todas →</a>
            </div>

            <div class="goal-card">
                <h3 class="text-lg font-semibold">Metas Financeiras</h3>
                <p class="text-sm text-gray-600">Acompanhe suas metas e alcance seus objetivos.</p>
                <div class="mt-3">
                    <p class="text-sm font-semibold">Meta de Poupança: <span class="text-green-500">75%</span></p>
                    <p class="text-sm font-semibold">Meta de Investimentos: <span class="text-blue-500">60%</span></p>
                </div>
            </div>
        </div>

        <div class="offer-card mt-6">
            <div>
                <h3 class="text-lg font-semibold">Experimente o Venus gratuitamente!</h3>
                <p class="text-sm text-gray-600">Entre neste mundo criativo. Venus é o melhor produto para o seu negócio.</p>
                <button>Experimente agora</button>
            </div>
            <img src="https://via.placeholder.com/100" class="w-24 h-24" alt="Mockup">
        </div>
    </div>
</div>
 -->
