<div class="flex flex-wrap justify-content-between mt-4 mb-8 col-12">
  <div class="col-12 md:col-6">
    <p-floatLabel>
      <input
        pInputText
        class="input-padrao"
        id="descricaoCategoria"
        [(ngModel)]="this.dadosFormulario.descricaoCategoria"
      />
      <label class="label-principal" for="descricaoCategoria">Descrição</label>
    </p-floatLabel>

    @if(!validador.descricaoCategoria){
    <small style="display: block; color: red"
      >Campo "Descrição" é obrigatorio</small
    >
    }
  </div>
  <div class="col-12 md:col-6  mt-3 md:mt-0">
    <p-floatLabel>
      <input
        pInputText
        class="input-padrao"
        id="tipoCategoria"
        [(ngModel)]="this.dadosFormulario.tipoCategoria"
      />
      <label class="label-principal" for="tipoCategoria">Tipo Categoria</label>
    </p-floatLabel>

    @if(!validador.tipoCategoria){
    <small style="display: block; color: red"
      >Campo "Tipo Categoria" é obrigatorio</small
    >
    }
  </div>
</div>
<div class="custom-div">
  <div class="flex align-items-center justify-content-center md:justify-content-end mt-2">
    <div class="mr-2">
      <p-button
        styleClass="p-button-color"
        (onClick)="salvarDados()"
        label="Salvar"
      ></p-button>
    </div>
    <div class="">
      <p-button
        styleClass="p-button-color"
        (onClick)="sairModal()"
        label="Cancelar"
      ></p-button>
    </div>
  </div>
</div>
